<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="byteshaft.com.nationalpropertyassist">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".AppGlobals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".account.CodeConfirmationActivity"/>
        <activity android:name=".account.LoginActivity"/>
        <activity android:name=".activities.AddPropertyDetails" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".account.RegistrationActivity" />

        <activity android:name=".activities.DrainAssistActivity" />
        <activity android:name=".activities.BuildingAssistActivity" />
        <activity android:name=".activities.HomeAssistActivity" />
        <activity android:name=".activities.WaterAssistActivity" />
        <activity android:name=".activities.PlumberActivity" />

        <activity android:name=".drainassist.EmergencyUnblockActivity" />
        <activity android:name=".drainassist.DrainageRepairsActivity" />
        <activity android:name=".drainassist.DrainageSurveyActivity" />
        <activity android:name=".drainassist.MaintenanceActivity" />
        <activity android:name=".drainassist.NewInstallationActivity" />
        <activity android:name=".drainassist.SepticOrTreatmentTankActivity" />
        <activity android:name=".activities.SelectPropertyActivity" android:theme="@style/Theme.AppCompat.Dialog"/>
    </application>

</manifest>